# Django
Django==5.2.6

# Database
psycopg2-binary==2.9.9  # If using PostgreSQL

mysqlclient==2.2.5 # if using MySQL

# REST Framework (if used)
djangorestframework==3.16.1

# Other dependencies
requests==2.31.0
beautifulsoup4==4.12.3
