.PlantInfo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 20vh;
    justify-content: start;
    background: linear-gradient(160deg, #d5ffdb 0%, #96d1a3 100%);
    width: 100vw;
    height: 90vh;
    width: 100vw;
}

.plantInfoTitle {
    text-align: center;
    font-size: 3vw;

    height: 20vh; 
    margin: 0;
    color: var(--nav-green);
}

.plantLeftColumn {
    margin-left: 2vw;
    margin-top: 4vh;
    padding: 0 0.5vw 0 0.5vw;
}

.PlantInfo ul {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    height: 70vh;
    overflow-y: auto;
}

.PlantInfo button {
    margin: 0;
    background: var(--nav-green);
    transition: background-color 0.4s ease;
    border-radius: 5px; 
    font-size: 3.5vh;
    margin: 0.25vh;
    color: #ffffff;
    padding: 0.2vh 0 0.2vh 0;
}

.PlantInfo button:hover {
    background-color: #1d883f;
    transform: translateY(-1px);
}

.PlantDesc {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
    grid-column-start: 2;
    grid-row-start: 1;
    width: 71vw;
    height: 84vh;
    border-radius: 10px; 
    margin: 4vh 2vw;
}

.PlantDesc p {
    font-size: 3.5vw;
}