.PlantInfo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 20vh;
    justify-content: start;
    background: linear-gradient(160deg, #d5ffdb 0%, #96d1a3 100%);
    width: 100vw;
    height: 90vh;
    width: 100vw;
}

.plantInfoTitle {
    text-align: center;
    font-size: 3vw;

    height: 20vh; 
    margin: 0;
    color: var(--nav-green);

    border-bottom: 2px solid #2e7a43;
}

.plantLeftColumn {
    margin: 4vh 0 0 4.5vw;
    width: 25vw;
    height: 80vh;
    background-color: #d4ffb2;
    border: 1px solid #2e7a43;
    border-radius: 10px;
    padding-bottom: 2vh;
}

.plantList{
    overflow-y: scroll;
    height: 58vh;
}

.PlantInfo ul {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    padding: 0 0.5vw 0 0.5vw;

}

.PlantInfo button {
    margin: 0;
    background: var(--nav-green);
    transition: background-color 0.4s ease;
    border-radius: 5px; 
    font-size: 3.5vh;
    margin: 0.25vh;
    color: #ffffff;
    padding: 0.2vh 0 0.2vh 0;
}

.PlantInfo button:hover {
    background-color: #1d883f;
    transform: translateY(-1px);
}

.PlantDesc {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    background: #ffffff;
    grid-column-start: 2;
    grid-row-start: 1;
    width: 60vw;
    height: 80vh;
    border-radius: 10px; 
    margin: 4vh 2vw;
    margin-left: 5vw;
}

.PlantDesc p {
    font-size: 3.5vw;
    text-align: center;
    color: grey;
}

.plantText {

    height: 80vh;
    padding-left: 2vw;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

.plantText h1 {
    font-size: 6.5vh;
    text-decoration: underline;
    color: var(--nav-green);


}

.plantStats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    padding-right: 2vw;
}

.plantText h2 {
    font-size: 3vh;
    margin-top: 1vh;
    border-bottom: 1px solid grey;;
}

.plantStatsTitle {
    color: grey;
}