#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  margin-top: 64px; 
}

body {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  background: #40a158;
  height: 64px;
  padding: 0;

  justify-content: flex-start;
  
}

.nav-left {
  display: flex;
  height: 100%;
}

.nav-spacer {
  flex: 1;
}

.nav-right {
  display: flex;
  height: 100%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100%;
  width: 120px; 
  text-decoration: none;
  color: white;
  background: #40a158;
  border: none;
  border-right: 1px solid #2e7a43;

  font-weight: bold;
  transition: background 0.2s;
}

.login-btn {
  border-left: 1px solid #2e7a43;
  
}

.btn:hover {
  background: #378b4c;
}

a:hover {
  color: white;
}
